<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="toast.css">
    <title>Toast</title> 
    <script src="toast.js" defer></script>
</head>
<body>
    <div class="toast" id="show-toast">
        <img src="" alt="" id="icon-toast">
        <div class="toast-text" id="toast-message">
            <span class="roboto-700"></span>
            <span class="roboto-400"></span>
        </div>
    </div>
</body>
</html>
